#vector {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  font-family: Cambria,"Times New Roman", Times, serif;
}

#vector .matrix {
  position: absolute;
  top: 72px;
  left: 12px;
}

#vector .chart {
  margin-left: 100px;
}

#vector td {
  padding: 0px;
  text-align: center;
}

#vector .leftBracket {
  border: 1px solid;
  border-right: none;
  padding: 3px;
}

#vector .rightBracket {
  border: 1px solid;
  border-left: none;
  padding: 3px;
}

